/* DLAZDICE */
.jobTileObjectHeading {
    /* display: flex; */
    justify-content: center;
    margin-bottom: 15px;
}

.jobTileObjectHeadingImageObject {
    display: flex;
    justify-content: center;
}

.jobTileObjectHeadingImage {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jobTileObjectHeadingText {
    text-decoration: underline;
    margin-bottom: 15px;
}

.jobTileObjectFooter {
    text-align: -webkit-center;
}

.jobTileObjectFooterSectionObject {
    display: flex;
    justify-content: center;
    background-color: #f8f4f4;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px 15px;
    width: fit-content;
}

/* RIADKY */
.jobRowObjectHeading {
    display: flex;
    align-items: center;
}

.jobRowObjectHeadingImageObject {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.jobRowObjectHeadingImage {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jobRowObjectHeadingText {
    text-decoration: underline;
    margin-left: 20px;
}

.jobRowObjectFooter {
    display: flex;
    justify-content: end;
}

.jobRowObjectFooterSectionObject {
    display: flex;
    justify-content: center;
    background-color: #f8f4f4;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px 15px;
    width: fit-content;
    margin-right: 15px;
}

.jobObjectFooterSection {
    align-items: center;
    display: flex;
}

.jobObjectFooterImage {
    margin-right: 15px;
}

/* ALL */
.jobObjectFooterText {
    font-size: 15px;
}

.jobObject {
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 20px;
}

.jobObject:hover {
    border-color: #fc5506;
}

.staticBorder {
    border: 1px solid #d5d5d5;
    border-radius: 10px;
}


.orangeObject {
    color: #fc5506;
}

.active {
    color: #fc5506 !important;
}

.filterBackgroud {
    background-color: #f8f4f4;
}

.grid {
    padding: 25px;
    margin: 0% 1.5% 2.8% 0%;
    width: 40%;
}

.homePagePadding {
    padding: 11px;
}

.accordionItem {
    margin: 2.8% 0 2.8% 0;
}

.checkboxMargin {
    margin-right: 10px;
}

.salaryWidth {
    width: 25%;
    border-radius: 5px;
    margin: 0px 5px;
}

.salaryHeading {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
}

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}