html {
    scroll-behavior: smooth;
}

body {
    color: black;
}

/* DLAZDICE */
.jobTileObjectHeading {
    /* display: flex; */
    justify-content: center;
    margin-bottom: 15px;
}

.jobTileObjectHeadingImageObject {
    display: flex;
    justify-content: center;
}

.jobTileObjectHeadingImage {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jobTileObjectHeadingText {
    text-decoration: underline;
    margin-bottom: 15px;
}

.jobTileObjectFooter {
    text-align: -webkit-center;
}

.jobTileObjectFooterSectionObject {
    display: flex;
    justify-content: center;
    background-color: #f8f4f4;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 5px 15px;
    width: fit-content;
}

/* RIADKY */
.jobRowObjectHeading {
    display: flex;
    align-items: center;
}

.jobRowObjectHeadingImageObject {
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.jobRowObjectHeadingImage {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jobRowObjectHeadingText {
    text-decoration: underline;
    margin-left: 20px;
}

.jobRowObjectFooter {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.jobRowObjectFooterSectionObject {
    display: flex;
    justify-content: center;
    background-color: #f8f4f4;
    border-radius: 20px;
    padding: 5px 15px;
    width: fit-content;
    margin-right: 15px;
    margin-bottom: 10px;
}

.jobObjectFooterSection {
    align-items: center;
    display: flex;
}

.jobObjectFooterImage {
    margin-right: 10px;
}

/* ALL */
.content {
    margin-bottom: 60px;
}

textarea {
    resize: none;
}

.nav-item {
    padding: 0px 15px;
}

.jobObjectFooterText {
    font-size: 15px;
}

.jobObject {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 15px;
}

.orangeText {
    color: #fc5506;
}

.orangeObject {
    background-color: #fc5506;
}

.active {
    color: #fc5506 !important;
}

.filterBackgroud {
    background-color: #f8f4f4;
}

.checkboxMargin:focus {
    box-shadow: none;
    border: 1px solid #fc5506;
}

.homePagePadding {
    padding: 11px;
}

.accordionItem {
    margin: 10px 0 10px 0;
}

.checkboxMargin {
    margin-right: 10px;
}

.salaryWidth {
    width: 25%;
    margin: 0px 5px;
}

.salaryHeading {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    padding: 20px;
    background-color: #ffddcc;
}

.search input {
    height: 50px;
    text-indent: 25px;
    font-style: italic;
}

.search .fa-search {
    position: absolute;
    top: 16px;
    left: 19px;
}

.search .fa-user-o {
    position: absolute;
    top: 38px;
    left: 35px;
}

.search button {
    position: absolute;
    top: 20px;
    right: 21px;
    height: 50px;
    width: 55px;
    border-radius: 0px 0.25rem 0.25rem 0px;
}

.btn-primary {
    border-color: #fc5506;
}

/* .form-control {
    border-radius: 10px;
} */

.btn:hover {
    background-color: #e34a02;
    border-color: #e34a02;
}

.btn:focus {
    background-color: #e34a02;
    border-color: #e34a02;
    box-shadow: none;
}

.btn-secondary {
    border: 1px solid #d5d5d5;
    background-color: #fff;
    color: black;
}

.btn-secondary:hover {
    border: 1px solid #d5d5d5;
    background-color: #fff;
    color: black;
}

.btn-secondary:focus {
    border: 1px solid #d5d5d5;
    background-color: #fff;
    color: black;
}

.flex2 {
    display: flex;
    justify-content: space-between;
}

.flex-items {
    text-align: center;
    display: flex;
}

button {
    border: none;
}

.layoutButtons {
    display: flex;
    align-items: center;
    margin-left: 20px;
    align-items: initial;
}

.layoutButton {
    margin-left: 10px;
    background-color: #f8f4f4;
    border-radius: 10px;
    width: 35px;
}

.layoutButton:hover {
    background-color: #ffddcc;
}

.layoutButton:focus {
    background-color: #ffddcc;
}

.pagination {
    justify-content: center;
}

.page-link {
    color: #9f9f9e;
    border-radius: 10px;
}

.page-link:hover {
    z-index: 2;
    color: #9f9f9e;
    background-color: #ffddcc;
    border-color: #9f9f9e;
}

.page-item {
    padding: 0px 3px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #fc5506;
    border-color: #fc5506;
}

.pageContent {
    text-align: center;
    width: 60%;
    margin-top: 60px;
}

.bottomMargin {
    margin: 30px;
}

.jobPageHeaderInfo {
    display: flex;
    background-color: black;
    color: #fff;
    border-radius: 25px;
    padding: 3px 20px;
}

.centerIcon {
    align-self: center;
}

.orangeButtons {
    border-radius: 25px;
    padding: 10px 35px;
}

.jobInfoObject {
    margin: 30px 0px;
}

.jobInfoObjects {
    text-align: left;
}

.jobInfoHeading {
    display: flex;
}

.jobInfoText {
    padding: 10px 20px;
}

.jobInfoInput {
    border: 2px solid #d5d5d5;
    margin-bottom: 15px;
}

.jobInfoInput:focus {
    box-shadow: none;
    border: 1px solid #fc5506;
}

.jobInfoTextArea {
    border-radius: 3px;
    height: 150px;
}

.contactFormAttachment {
    margin-bottom: 30px;
}

.contactFormAttachmentBtn {
    cursor: pointer;
}

.contactFormAttachmentText {
    margin-left: 30px;
}

.form-check-input:checked {
    background-color: #fc5506;
    border-color: #fc5506;
}

.formInputs {
    display: flex;
    justify-content: center;
}

.img_set {
    max-width: 100%;
    max-height: 100%;
    display: block;
    /* remove extra space below image */
}

.pageSubHeading {
    margin-bottom: 60px;
}

.referenceRow {
    margin-bottom: 30px;
    display: flex;
}

.referenceRowLeft {
    text-align: left;
    margin-bottom: 10px;
}

.referenceRowRight {
    text-align: left;
}

.contact {
    margin-bottom: 20px;
    cursor: pointer;
}

.contactObjectImage {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: #f8f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.contactPageSubHeading {
    margin-bottom: 30px;
}

.contactInfo {
    margin-bottom: 100px;
}

.contact:hover .inner {
    background-color: #ffddcc;
}

.contact:hover .innerText {
    background-color: transparent;
    color: #fc5506;
    font-weight: bold;
}

.contactPageInfo {
    text-align: -webkit-center;
}

.contactPageForm {
    padding: 10px 20px;
    text-align: left;
}

.flash_message {
    position: fixed;
    bottom: 1%;
    right: 1%;
    background-color: #fc5506;
    color: #fff;
    padding: 0.5% 1%;
    border-radius: 20px;
}

.pageHeading {
    text-align: center;
    background-color: #f5f4f2;
    padding: 30px;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #f8f4f4;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.rounded {
    border-radius: 0.25rem !important;
}

.border {
    border: 1px solid #d5d5d5 !important;
}

.jobObject:hover {
    border: 1px solid #fc5506 !important;
}

.search input:focus {
    box-shadow: none;
    border: 1px solid #fc5506 !important;
}

.jobObjectHead {
    text-align: -webkit-center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.jobInfoFormText {
    margin-bottom: 15px;
}

.jobInfoBackButton {
    text-align: left;
    margin-bottom: 30px;
}

.jobInfoTitle {
    margin-bottom: 30px;
}

.jobInfoSubTitle {
    align-items: center;
}

.g-custom {
    --bs-gutter-x: 0rem;
}

.jobsHeadingButtons {
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.jobHeadingResetButton {
    display: flex;
    background: transparent;
}

.jobHeadingResetButtonText {
    align-self: center;
}

.jobHeadingDropdown {
    justify-content: right;
    display: flex;
    padding: 10px;
}

.jobFilter {
    width: 100%;
}

.jobSalary {
    padding: 1rem 1.25rem;
}

.jobSalaryForm {
    display: flex;
}

.accordionBody {
    text-align: left;
}